@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone');

.material-icons,
.material-icons-sharp,
.material-icons-two-tone,
.material-icons-outlined,
.material-icons-round {
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: inline-block;
  font-feature-settings: "liga";
  font-size: unset;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}
.material-icons { font-family: "Material Icons"; }
.material-icons-outlined { font-family: "Material Icons Outlined"; }
.material-icons-round { font-family: "Material Icons Round"; }
.material-icons-two-tone { font-family: "Material Icons Two Tone"; }
.material-icons-sharp { font-family: "Material Icons Sharp"; }
